fastapi==0.115.14
fastmcp==2.12.5
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-huggingface==0.3.0
langchain-ollama==0.3.3
llama-index==0.12.46
llama-index-core==0.12.46
llama-index-embeddings-huggingface==0.5.5
llama-index-llms-langchain==0.6.1
lmstudio==1.4.1
mcp==1.16.0
fastmcp==2.12.5
ollama==0.5.1
sentence-transformers==5.0.0
torch==2.7.1
transformers==4.53.1
uvicorn==0.35.0
